<div class='cron-edit'>
    <BsButton @outline={{true}} @type='secondary' class='cron-edit--button' type='xs' @onClick={{action (mut modal1) true}}>
        <div class='cron-edit--button-label'>M</div>
        <div class='cron-edit--button-value'>{{minuteValue}}</div>
    </BsButton>
    <BsModalSimple
    @open={{modal1}}
    @title="Minuty"
    @size="sm"
    @onHidden={{action (mut modal1) false}}>
    <input type='text' class='form-control' {{on 'input' this.changeMinuteValue}} value={{minuteValue}}/>
        <PowerSelect
        @searchEnabled={{true}}
        @searchField='label'
        @options={{this.minuteOptions}}
        @selected={{this.minuteOption}}
        @placeholder="Vyberte Moznost"
        @onChange={{action 'changeMinuteOption'}} 
        as |o|>
            {{o.label}}
        </PowerSelect>
        <PowerSelectMultiple
        @searchEnabled={{true}}
        @options={{this.allMinutes}}
        @selected={{this.minutes}}
        @placeholder="Minuty"
        @onChange={{action 'changeMinutes'}} as |minute|>
            {{minute}}
        </PowerSelectMultiple>
    </BsModalSimple>

    <BsButton @outline={{true}} @type='secondary' class='cron-edit--button' type='xs'>
        <div class='cron-edit--button-label'>M</div>
        <div class='cron-edit--button-value'>*</div>
    </BsButton>
    <BsButton @outline={{true}} @type='secondary' class='cron-edit--button' type='xs'>
        <div class='cron-edit--button-label'>M</div>
        <div class='cron-edit--button-value'>*</div>
    </BsButton>
    <BsButton @outline={{true}} @type='secondary' class='cron-edit--button' type='xs'>
        <div class='cron-edit--button-label'>M</div>
        <div class='cron-edit--button-value'>*</div>
    </BsButton>
    <BsButton @outline={{true}} @type='secondary' class='cron-edit--button' type='xs'>
        <div class='cron-edit--button-label'>M</div>
        <div class='cron-edit--button-value'>*</div>
    </BsButton>
</div>
